.history {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 40px;
}

.title {
  max-width: 1182px;
  background: linear-gradient(91.24deg, #1eab5f 0.36%, #e7b97e 103.9%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.chronology {
  position: relative;
  margin-bottom: 100px;
}
.iconArrow1 {
  position: absolute;
  left: 10px;
  top: 150px;
}
.iconArrow2 {
  position: absolute;
  left: 370px;
  top: 330px;
  transform: rotate(180deg);
}
.iconArrow3 {
  position: absolute;
  left: 10px;
  top: 540px;
}
.titleContent {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  color: #363130;
  margin-bottom: 32px;
}
.datesContent {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.item {
  display: flex;
  align-items: center;
  gap: 40px;
}
.year {
  flex: 1 0 30%;
  font-weight: 900;
  font-size: 66px;
  line-height: 80px;
  text-align: center;
  color: #1eab5f;
  text-shadow: 0 4px 8px #64bc45;
}
.desc {
  display: flex;
  align-items: center;
  gap: 40px;
  color: #000000;
  padding: 40px;
  background: #ffffff;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
}
.descText {
  font-size: 16px;
  line-height: 26px;
  & span {
    font-weight: 700;
    color: #1eab5f;
  }
}
.photos {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 80px;
}
.mobilePhotos {
  display: none;
}
.tabsBlock {
  display: flex;
  gap: 40px;
}
.tab {
  font-family: Montserrat, sans-serif;
  flex-grow: 1;
  background-color: transparent;
  max-width: 500px;
  height: 80px;
  text-align: center;
  font-weight: 900;
  font-size: 32px;
  line-height: 39px;
  color: #363130;
  border: 1px solid #319f1c;
  border-radius: 0 0 6px 6px;
}
.activeTab {
  background-color: #1eab5f;
  color: #ffffff;
}
.imagesBlock {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.images {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
.imageItem {
  width: 500px;
  height: 374px;
}
.btn {
  justify-content: center;
  height: 45px;
  font-weight: 600;
  background: #1eab5f;
  box-shadow: 0 4px 4px #64bc45;
  border-radius: 5px;
  width: 325px;
  margin: 0 auto;
}
.howWeWork {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 100px;
}
.mobileCards {
  display: none;
}
.cards {
  display: flex;
  gap: 40px;
}
.column {
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding-top: 80px;
}
.middleColumn {
  padding-top: 0;
}

.titleHowWeWork {
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  height: 234px;
  text-align: center;
  background: #ffffff;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
}
.number {
  font-weight: 900;
  font-size: 66px;
  line-height: 80px;
  color: #1eab5f;
  text-shadow: 0 4px 8px #64bc45;
}
.textNumber {
  font-size: 25px;
  line-height: 30px;
  color: #1eab5f;
  margin-bottom: 16px;
}
.descNumber {
  max-width: 460px;
  font-size: 16px;
  line-height: 26px;
  color: #000000;
  flex-grow: 1;
}
.btnDark {
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  justify-content: center;
  width: 500px;
  height: 50px;
  background: #363130;
  box-shadow: 0px 0px 4px rgba(51, 51, 51, 0.5);
  border-radius: 5px;
  margin: 0 auto;
}
.cloud {
  position: absolute;
  left: -160px;
  bottom: -150px;
  z-index: -1;
}
.shepki {
  transform: matrix(-0.91, -0.42, -0.42, 0.91, 0, 0);
  position: absolute;
  right: -150px;
  bottom: -200px;
}

.clients {
  margin-bottom: 148px;
}

.subtitle {
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  margin-top: 24px;
  margin-bottom: 40px;
}
.clientsContent {
  position: relative;
  display: flex;
  align-items: center;
  gap: 40px;
}
.cloudClient {
  position: absolute;
  right: -160px;
  bottom: -200px;
  z-index: -1;
  transform: rotate(-6.75deg);
}
.imgWrapper {
  position: relative;
  flex: 1 1 100%;
  width: 769px;
  height: 406px;
}
.houseImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.btnClients {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 24px;
}
.clientsCards {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
.clientCard {
  max-width: 365px;
  height: 186px;
  background: #ffffff;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  padding: 28px 20px;
}
.cardTitle {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
  margin-bottom: 16px;
}
.cardDesc {
  font-size: 16px;
  line-height: 30px;
  color: #000000;
  & span {
    font-family: Montserrat, sans-serif;
    font-weight: 900;
    font-size: 32px;
    line-height: 39px;
    color: #1eab5f;
  }
}
.btnClientsMobile {
  display: none;
}
.principles {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 40px;
}
.principlesWrapper {
  display: flex;
  align-items: center;
  gap: 40px;
}

.principlesImg {
  width: 770px;
  height: 313px;
  object-fit: cover;
}
.textWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}
.itemPrinciples {
  display: flex;
  align-items: center;
  gap: 16px;
}
.itemText {
  & span {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
  }
}
.garantiesWrapper {
  margin-bottom: 80px;
}
.gratitude {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 100px;
}
.videoReview {
  background: #ffffff;
  box-shadow: 0 10px 8px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  padding: 40px;
  gap: 40px;
  z-index: 2;
}
.videoWrapper {
  min-width: 730px;
  height: 375px;
  z-index: 2;
}
.date {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #1eab5f;
  margin-bottom: 16px;
}
.name {
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  color: #363130;
  margin-bottom: 32px;
}
.reviewDesc {
  font-size: 16px;
  line-height: 25px;
  color: #363636;
  max-height: 75px;
  margin-bottom: 16px;
  overflow: hidden;
}
.collapsible {
  max-height: none;
  overflow: visible;
}
.readMore {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 16px;
  margin-bottom: 32px;
}
.btnText {
  color: #000000;
  opacity: 0.5;
  &:hover {
    opacity: 1;
  }
}
.btnReview {
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #1eab5f;
  background-color: transparent;
  width: 286px;
  height: 45px;
  border: 1px solid #1eab5f;
  border-radius: 3px;
}
.sliderCard {
  width: 770px;
  max-height: 320px;
  display: flex;
  padding: 37px 40px 51px;
  gap: 40px;
  background: #ffffff;
  border-radius: 3px;
  z-index: 2;
}

.personImg {
  object-fit: cover;
  width: 190px;
  height: 190px;
  border-radius: 50%;
}
.reviewText {
  display: flex;
  flex-direction: column;
  z-index: 2;
}
.bg {
  position: absolute;
  left: -160px;
  top: 250px;
  z-index: 1;
}
.reviewBg {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.reviewCloud {
  position: absolute;
  left: -160px;
  top: 150px;
  z-index: 1;
}
.keyPersons {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 100px;
}
.personsContent {
  display: flex;
  gap: 40px;
}
.imgRoman {
  text-align: center;
  padding-top: 67.5px;
  padding-bottom: 67.5px;
}
.imgRoman img {
  object-fit: cover;
  width: 360px;
  height: 426px;
  margin-bottom: 16px;
}
.personName {
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
  color: #363130;
}

.descTitle {
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #363130;
  margin-bottom: 32px;
}
.contentDesc {
  flex-grow: 1;
}
.competentions {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin-bottom: 80px;
}
.competentionBlock {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 365px;
}
.competentionItem {
  display: flex;
  align-items: end;
  gap: 32px;
}
.competentionNumber {
  font-weight: 900;
  font-size: 66px;
  line-height: 80px;
  color: #1eab5f;
  text-shadow: 0px 4px 8px #64bc45;
}
.competentionDesc {
  font-size: 16px;
  line-height: 26px;
  color: #000000;
}
.itemTitle {
  font-weight: 900;
  font-size: 25px;
  line-height: 30px;
  padding-bottom: 12px;
  color: #1eab5f;
}
.personsItem {
  width: 10%;
}
.miniImg {
  width: 124px;
  height: 124px;
  object-fit: cover;
  border-radius: 20px;
  margin-bottom: 8px;
}
.imageCardWrapper {
}
.personCard {
  cursor: pointer;
  width: 124px;
}

.personJob {
  font-weight: 900;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
.activeSlide {
  color: #1eab5f;
}
.swiper-slide {
  width: 100px;
}
.reviewSlider {
  position: relative;
}
.videoPoster {
}

@media (max-width: 480px) {
  .aboutContainer {
    display: flex;
    flex-direction: column;
  }

  .btnContent {
    display: flex;
  }
  .btnContentInner {
    padding: 10px 16px;
    width: 100%;
    height: 40px;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
    border: 1px solid #1eab5f;
    border-radius: 5px;
  }
  .history {
    gap: 0;
    margin-bottom: 24px;
  }
  .title {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 16px;
  }
  .titleContent {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    background: linear-gradient(91.24deg, #1eab5f 0.36%, #e7b97e 103.9%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin-bottom: 16px;
  }
  .iconArrow1 {
    display: none;
  }
  .iconArrow2 {
    display: none;
  }
  .iconArrow3 {
    display: none;
  }
  .desc div {
    display: none;
  }
  .chronology {
    margin-bottom: 40px;
  }
  .year {
    font-weight: 900;
    font-size: 20px;
    line-height: 24px;
    color: #1eab5f;
    flex: 0;
  }
  .item {
    gap: 16px;
    align-items: start;
  }
  .descText {
    font-size: 12px;
    line-height: 14px;
    color: #000000;
  }
  .desc {
    padding: 0;
    box-shadow: none;
  }
  .tabsBlock {
    flex-direction: column;
  }
  .photos {
    display: none;
  }
  .mobilePhotos {
    display: block;
  }
  .excursionPhone {
    display: flex;
    flex-direction: column;
  }
  .titleHowWeWork {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    background: linear-gradient(91.24deg, #1eab5f 0.36%, #e7b97e 103.9%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
  .mobileCards {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .card {
    flex-direction: row;
    align-items: start;
    width: 100%;
    height: 100%;
    background: #ffffff;
    box-shadow: none;
    gap: 20px;
  }
  .number {
    font-weight: 900;
    font-size: 20px;
    line-height: 24px;
    color: #1eab5f;
  }
  .textNumber {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #363130;
    margin-bottom: 4px;
  }
  .descNumber {
    font-size: 12px;
    line-height: 14px;
    color: #000000;
    text-align: left;
  }
  .cardDescMobile {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .cards {
    display: none;
  }
  .cloud {
    display: none;
  }
  .shepki {
    display: none;
  }
  .btnLink {
    display: none;
  }
  .howWeWork {
    margin-bottom: 40px;
  }
  .subtitle {
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 16px;
    margin-top: 0;
  }
  .clients {
    margin-bottom: 40px;
  }
  .clientsContent {
    flex-direction: column;
    align-items: start;
    gap: 16px;
  }
  .cloudClient {
    display: none;
  }
  .imgWrapper {
    width: 100%;
    height: 100%;
  }
  .houseImg {
    border-radius: 3px;
  }
  .datesContent {
    gap: 24px;
  }
  .btnClientsMobile {
    display: block;
  }
  .btnClientsDesctop {
    display: none;
  }
  .btnClients {
    position: static;
  }
  .cardTitle {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #363130;
    margin-bottom: 0;
  }
  .cardDesc {
    font-size: 12px;
    line-height: 14px;
    color: #000000;
    & span {
      font-family: Montserrat, sans-serif;
      font-weight: 700;
      font-size: 16px;
      line-height: 18px;
      color: #1eab5f;
    }
  }
  .clientCard {
    box-shadow: none;
    padding: 0;
    width: 100%;
    height: 100%;
  }
  .clientsCards {
    gap: 16px;
    flex-direction: column;
    width: 100%;
  }
  .btn {
    width: 100%;
  }
  .principles {
    gap: 16px;
  }
  .principlesImg {
    width: 100%;
    height: 100%;
  }
  .principlesWrapper {
    flex-direction: column;
    gap: 16px;
  }
  .itemPrinciples {
    align-items: start;
  }
  .textWrapper {
    gap: 8px;
  }
  .itemText {
    font-size: 12px;
    line-height: 14px;
  }
  .garantiesWrapper {
    margin-bottom: 40px;
  }
  .gratitude {
    gap: 24px;
  }
  .bg {
  }
}
