.section {
  display: flex;
}
.floorImage {
  max-width: 397px;
  object-fit: cover;
  margin-right: 16px;
}
.description {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex-grow: 1;
}

.smallImage {
  max-width: 365px;
  object-fit: cover;
  margin-right: 40px;
  &:last-child {
    margin-right: 0;
  }
}
.imagesWrapper {
  margin-bottom: 40px;
  margin-left: 16px;

}


.text {
  font-weight: 500;
  font-size: 18px;
  line-height: 40px;
  color: #000000;
}
.descTitle {
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #363130;
}
.btnFloor {
  justify-content: center;
  height: 45px;
  font-weight: 600;
  background: #1eab5f;
  box-shadow: 0 4px 4px #64bc45;
  border-radius: 5px;
  width: 325px;
  margin: 0 auto;
}

@media (max-height: 1600px) {
  .floorImage {
    max-width: 380px;

    height: 270px;
    object-fit: cover;
    margin-right: 16px;
  }
  .smallImage {
    max-width: 240px;
    object-fit: cover;
    margin-right: 40px;
  }
  .description {
    width: 260px;

    gap: 20px;
    flex-grow: 1;
  }
  .descTitle {
    font-weight: 900;
    font-size: 20px;
    line-height: 29px;

  }
  .text {
    font-weight: 500;
    font-size: 16px;
    line-height: 40px;
  }
  .btnFloor {
    justify-content: center;
    height: 40px;
    font-size: 12px;
    font-weight: 600;
    width: 280px;
  }
}
@media (max-height: 480px) {
  .btnFloor {
    height: 40px;
  }
}
