.wrapper {
  padding-top: 68px;
}
.appointmentBlock {
  display: flex;
  gap: 40px;
  margin-bottom: 100px;
}
.text {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 750px;
}
.text h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #1eab5f;
}
.description h3 {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 16px;
  & span {
    color: #1eab5f;
  }
}
.text h1 {
  font-weight: 900;
  font-size: 40px;
  line-height: 40px;
  background: linear-gradient(91.03deg, #1eab5f 0.3%, #e7b97e 73.23%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.arrow {
  width: 494px;
  height: 59px;
  position: absolute;
  left: 260px;
  top: 440px;
  fill: #fddf31;
  stroke: #fddf31;
}
.treeLeft {
  position: absolute;
  left: 0;
  top: 450px;
  z-index: 5;
}

.cloud {
  width: 50%;
  position: absolute;
  right: 0;
  top: 450px;
  z-index: 1;
}
.rCloud {
  position: absolute;
  right: 0;
  top: 50px;
  z-index: 2;
}
.calendarWrapper {
  padding: 40px 125px;
  display: flex;
  flex-direction: column;
  gap: 36px;
  width: 770px;
  z-index: 2;
  background: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
}
.btn {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  width: 100%;
  justify-content: center;
  color: #000000;
  background: #d0d0d0;
}
.btnActive {
  background: #1eab5f;
  color: #ffffff;
}
.time {
  display: none;
}
.titleForm {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #363130;
}

.descriptionFull {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.descItem {
  display: flex;
  align-items: center;
  gap: 16px;
}
.descItem p {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}
.btnReset {
  width: 474px;
  justify-content: center;
  color: #ffffff;
  background: #363130;
  box-shadow: 0px 0px 4px rgba(51, 51, 51, 0.5);
  border-radius: 5px;
}
