
.text-field {
    width: 400px;
}

.text-field__label {
    display: block;
    margin-bottom: 0.25rem;
}

.text-field__input {
    display: block;
    width: 100%;
    height: 50px;
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: white;
    background-color: #2c2c2e;
    background-clip: padding-box;
    border: 1px solid #1eab5f;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}


.text-field__input:focus {
    color: white;
    background-color: #2c2c2e;
    border-color: #1eab5f;
    outline: 0;
}

