.play {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  fill: none;
}
.image {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: drop-shadow(0px 3.98911px 3.98911px rgba(0, 0, 0, 0.25));
  border-radius: 5px;
}
.wrapper {
  cursor: pointer;
  height: 120px;
}
