.catalog {
  display: flex;
  flex-direction: column;
  z-index: 5;
}

.catalog h2 {
  font-weight: 900;
  font-size: 32px;
  line-height: 39px;
  color: #363130;
  z-index: 5;
}

.catalog span {
  color: #1eab5f;
}

.wrapper {
  display: flex;
  z-index: 5;
  padding-top: 24px;
  gap: 40px;
}

.wrapperMobile {
  display: flex;
  flex-direction: column;
  z-index: 5;
  padding-top: 24px;
}

.itemMobile {
}

.NavigationWrapper {
}

.searchInput {
  padding: 18px;
  width: 365px;
  height: 60px;
  background: #ffffff;
  border: 1px solid #1eab5f;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  color: #363130;
}

.NavigationButton {
  margin-top: 40px;
  justify-content: left;
  gap: 16px;
  width: 365px;
  height: 60px;
  border: 1px solid #1eab5f;
  border-radius: 5px;
  color: #000000;
}

.NavigationButton svg {
  width: 30px;
  height: 30px;
}

.active {
  color: #ffffff;
  background: #1eab5f;
}

.active svg {
  filter: brightness(0) invert(1);
}

.catalogListWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.catalogListWrapperMobile {
  width: 100%;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 5px 5px 0px 0px;
}

.catalogList {
  display: flex;
  flex-direction: row;
  width: 65vw;
  flex-wrap: wrap;
  gap: 40px;
}

.hidden {
  display: none;
}

.catalogItem {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 365px;
  height: 348px;
}

.catalogItem img {
  margin-top: 16px;
  width: 100%;
  height: 207px;
  object-fit: cover;
  border-radius: 3px;
}

.catalogItem h4 {
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #363130;
}

.price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  font-weight: 900;
  font-size: 20px;
  line-height: 24px;
  color: #1eab5f;
}

.projectNumber {
  position: absolute;
  left: 10px;
  top: 250px;
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;

  color: #1eab5f;
}

.ItemButton {
  display: flex;
  justify-content: center;
  width: 220px;
  height: 50px;
  border: 1px solid #130d0d;
  box-shadow: inset 4px 4px 25px rgba(241, 241, 241, 0.25);
  border-radius: 5px;
  color: #000000;
  margin-top: 16px;
}

.maps {
  display: flex;
  justify-content: center;
  width: 129px;
  height: 50px;
  border: 1px solid #130d0d;
  box-shadow: inset 4px 4px 25px rgba(241, 241, 241, 0.25);
  border-radius: 5px;
  color: #000000;
  margin-top: 16px;
}

.share {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  width: 129px;
  height: 50px;
  border: 1px solid #130d0d;
  box-shadow: inset 4px 4px 25px rgba(241, 241, 241, 0.25);
  border-radius: 5px;
  color: #000000;
  margin-top: 16px;
}

.share p {
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.shareLinks {
  display: flex;
  justify-content: center;
  gap: 6px;
}

.QuizWrapper {
  padding-top: 0;
}

.wrapperBtn {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.QuizWrapper h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  text-transform: uppercase;
  color: #1eab5f;
}

.QuizWrapper h2 span {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  text-transform: none;
}

.icon {
  fill: #1eab5f;
}

@media (max-width: 1600px) {
  .catalogList {
    gap: 30px;
  }
  .projectNumber {
    position: absolute;
    left: 10px;
    top: 240px;
    background: #ffffff;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;

    color: #1eab5f;
  }
  .maps {
    width: 100%;
    font-size: 12px;
    height: 40px;
    margin-top: 10px;
  }
  .share {
    width: 100%;
    font-size: 12px;
    height: 40px;
    margin-top: 10px;
    gap: 0;
  }
  .share p {
    font-style: normal;
    font-size: 12px;
    line-height: 19px;
    color: #000000;
  }
  .price {

    font-size: 14px;

  }
  .catalogItem h4 {
    font-weight: 900;
    font-size: 16px;
    line-height: 29px;
  }
  .searchInput {
    width: 280px;
    height: 50px;
  }
  .NavigationButton {
    margin-top: 30px;
    width: 280px;
    height: 50px;
    gap: 10px;
    font-size: 12px;
    line-height: 14px;
  }
  .catalogItem {

    width: 260px;
    min-height: 258px;
  }
  .catalogItem img {
    margin-top: 10px;

  }
  .ItemButton {

    width: 140px;
    height: 40px;
    font-size: 12px;

    margin-top: 10px;
  }

.NavigationButton svg {
  width: 25px;
  height: 25px;
  object-fit: fill;
}

}

@media (max-width: 992px) {
  .wrapper {
    display: none;
  }
}

@media (min-width: 992px) {
  .wrapperMobile {
    display: none;
  }
}


@media (max-width: 992px) {
  .catalogList {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 0;
  }
  .NavigationButton {
    margin-top: 24px;
    height: 40px;
    width: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
  }
  .wrapper {
    display: none;
  }
  .catalog h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    background: linear-gradient(91.24deg, #1eab5f 0.36%, #e7b97e 103.9%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }

  .catalogItem h4 {
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 20px;
  }
  .price {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
  }
  .catalogItem {
    padding: 16px;
  }
  .catalogItem img {
    width: 100%;
  }
  .projectNumber {
    left: 25px;
    top: 230px;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
  }
  .maps {
    width: 80px;
  }
}

@media (max-width: 480px) {
  .catalog h2 {
  }
  .wrapperMobile {
    padding-top: 0;
  }
  .catalogItem {
    width: 100%;
  }
  .ItemButton {
    width: 100%;
  }
  .maps {
    width: 100%;
  }
  .firstBtn {
    flex-grow: 1;
  }
  .QuizWrapper {
    padding-top: 40px;
  }
}
