.contacts {
  padding-top: 140px;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.title {
  text-transform: uppercase;
}
.info {
  display: flex;
  justify-content: start;
  gap: 40px;
}
.names,
.desc {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.names {
  flex-grow: 1;
}
.desc {
  max-width: 332px;
}
.item {
  display: flex;
  align-items: start;
  gap: 40px;
}
.itemDesc {
}
.name {
  font-weight: 700;
  color: #363130;
}
.department {
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: #1eab5f;
  flex: 1 0 100%;
  max-width: 365px;
}
.person {
  font-weight: 700;
  color: #363130;
  max-width: 365px;
}
.personWrapper {
}
.phone {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #363130;
}
.photo {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

@media (max-width: 480px) {
  .info {
    flex-direction: column;
  }
  .item {
    flex-direction: column;
    gap: 8px;
  }
  .names {
    gap: 8px;
  }
  .department {
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
  }
  .person {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
  }
  .personWrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .phone {
    font-size: 12px;
    line-height: 14px;
  }
  .contacts {
    padding-top: 24px;
    gap: 24px;
  }
  .title {
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    color: #363130;
    background: transparent;
    -webkit-text-fill-color: #363130;
  }
  .photo {
    gap: 24px;
    background: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    padding: 16px;
  }
}
