.bgBuilding {
  position: absolute;
  right: -160px;
  bottom: 630px;
}
.bgBuilding1 {
  position: absolute;
  right: -160px;
  bottom: 0;
  z-index: 1;
}
.tree {
  position: absolute;
  left: -162px;
  top: -350px;
  z-index: 1;
}
.houseImages {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  z-index: 2;
}
.buildingImage {

  width: 500px;
  height: 340px;
  border-radius: 3px;
  object-fit: cover;
}



@media (max-width: 480px) {
  .buildingImage {
    width: 100%;
  }
  .tree {
    display: none;
  }
}
