.popup {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  box-shadow: -11px -10px 51px rgba(0, 0, 0, 0.25),
    0px 0px 26px rgba(0, 0, 0, 0.53),
    inset 4px 4px 27px rgba(137, 137, 137, 0.33);
  border-radius: 20px;
  padding: 64px;
  z-index: 50;
}
.close {
  position: absolute;
  right: 25px;
  top: 25px;
  opacity: 0.5;
  &:hover {
    opacity: 1;
  }
}
.alert {
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  text-transform: uppercase;
  color: #1eab5f;
  margin-bottom: 24px;
}
.desc {
  font-size: 20px;
  line-height: 23px;
  color: #000000;
  margin-bottom: 24px;
  & span {
    font-weight: 600;
    color: #1eab5f;
  }
}
.contactForm {
  display: flex;
  flex-direction: column;
}
.topBlock {
  display: flex;
}
.img {
  max-width: 353px;
  object-fit: cover;
}
