@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;800;900&family=Raleway:wght@400;500;600&family=Roboto&display=swap");
@import "./variables";

html,
body {
  font-family: Raleway, sans-serif;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  background-color: $background;
  color: $text-color;

}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Montserrat, sans-serif;
}
.titleBlock {
  max-width: 781px;
  font-weight: 900;
  font-size: 32px;
  line-height: 39px;
  color: #363130;
  & span {
    color: #1eab5f;
  }
}
@media (max-width: 480px) {
  .titleBlock {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    background: linear-gradient(91.24deg, #1eab5f 0.36%, #e7b97e 103.9%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
}
