.rowImage {
  display: flex;
  flex-wrap: wrap;


}

.item {
  flex-grow: 1;
  max-width: 400px;
  min-width: 250px;
  max-height: 253px;
  margin: 20px 40px 20px 0;
}
.radioBtn {
  cursor: pointer;
  padding-top: 20px;
}