.section {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.titleSection {
  text-align: center;
  max-width: 100%;
  z-index: 1;
}

.btn {
  justify-content: center;
  height: 45px;
  font-weight: 600;
  background: #1eab5f;
  box-shadow: 0 4px 4px #64bc45;
  border-radius: 5px;
  width: 325px;
  margin: 0 auto;
}

@media (max-width: 1600px) {
  .btn {
    height: 40px;
    width: 300px;
  }
}
@media (max-width: 480px) {
  .section {
    gap: 16px
  }
  .btn {
    height: 40px;
  }
}