.react-calendar {
  width: 520px;
  height: 100%;
  max-width: 100%;
  background: #ffffff;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
  border: none;
  flex-grow: 1;
}

.react-calendar__navigation {
  justify-content: center;
  margin-bottom: 32px;
}
.react-calendar__navigation button {
  color: #000000;
  background: none;
  font-size: 32px;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #f8f8fa;
}
.react-calendar__navigation button[disabled] {
  background-color: #f0f0f0;
}
abbr[title] {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  text-decoration: none;
  color: #1eab5f;
}
/* .react-calendar__month-view__days__day--weekend {
 color: #d10000;
} */
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background: #f8f8fa;
  color: #1eab5f;
  border-radius: 50%;
}
.react-calendar__tile--now {
  background: transparent;
  font-weight: bold;
  color: #000000;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  border-radius: 50%;
  background: #1eab5f;
  font-weight: bold;
  color: #ffffff;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #f8f8fa;
}
.react-calendar__tile--active {
  border-radius: 50%;
  background: #1eab5f;
  font-weight: bold;
  color: white;
  opacity: 1;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  border-radius: 50%;
  background: #1eab5f;
  color: white;
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #f8f8fa;
}
.react-calendar__tile--range {
  border-radius: 50%;
  background: #1eab5f;
  opacity: 1;
}
.react-calendar__tile--rangeStart {
  border-radius: 50%;
  background: #1eab5f;
  color: white;
  opacity: 1;
}
.react-calendar__tile--rangeEnd {
  border-radius: 50%;
  background: #1eab5f;
  color: white;
  opacity: 1;
}

.react-calendar__month-view__days {
  row-gap: 24px;
  gap: 24px;
}

.react-calendar__navigation__label__labelText {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
}
.react-calendar__navigation__label {
  flex-grow: 0;
}
.react-calendar__tile {
}
.react-calendar__month-view__weekdays {
  margin-bottom: 32px;
}
.react-calendar__month-view__days__day--weekend {
  color: #000000;
  opacity: 0.5;
}
.react-calendar__tile {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  padding: 8.5px 10px;
  flex: 1 1 10% !important;
}
.react-calendar__tile--active {
  opacity: 1;
}
.wrapper {
  width: 520px;
  height: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 36px;
}
