.photogallery {
  padding-top: 50px;
  padding-bottom: 80px;
}

.title {
  font-size: 30px;
  line-height: 35px;
  text-transform: uppercase;
}

.wrapper {
  display: flex;
  gap: 40px;
}

.NavigationWrapper {
  width: 427px;
}
.searchInput{
  padding: 18px;
  width: 427px;
  height: 56px;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: inset 4px 4px 25px rgba(241, 241, 241, 0.25);
  border-radius: 5px;
  color: white;
  font-size: 16px;
  line-height: 19px;
}
.photoListsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.photoList {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  width: 893px;
}

.PhotoNavigationButton {
  margin-top: 16px;
  width: 100%;
  height: 56px;
  background: rgba(255, 255, 255, 0.05);
  border: none;
  box-shadow: inset 4px 4px 25px rgba(241, 241, 241, 0.25);
  border-radius: 5px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #FFFFFF;
}

.ContactFormPhoto {
  margin-top: 40px;
  padding: 20px;
  width: 427px;
  background: #2C2C2E;
  box-shadow: -11px -10px 51px rgba(0, 0, 0, 0.25), 0px 0px 26px rgba(0, 0, 0, 0.53);
  border-radius: 5px;
}

.titleForm {
  padding: 16px 0;
  font-size: 20px;
  line-height: 23px;
  color: rgba(255, 255, 255, 0.9);
}

.titleForm span {
  color: #1EAB5F
}

.subTitleForm {
  padding: 16px 0;
  font-size: 16px;
  line-height: 19px;
}

.subTitleForm span {
  color: #1EAB5F
}
.photoItem {
  padding: 20px;
  width: 426px;
  height: 321px;
  border: 2px solid rgb(70,65,65);
  border-radius: 5px;
  cursor: pointer;
  box-sizing: border-box;
  transition: transform .2s;


}

.photoItem span{
  font-size: 20px;
  line-height: 23px;
}


.photoItem img {
  width: 100%;
  max-height: 242px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 16px;

}
.photoItem:hover {
  transform: scale(1.05)

}

.active {
  color: #E7B97E;
}



