.catalog {
  display: flex;
  flex-direction: column;
  z-index: 5;
}

.catalog h2 {
  font-weight: 900;
  font-size: 32px;
  line-height: 39px;
  color: #363130;
  z-index: 5;
  text-transform: uppercase;
}

.catalog span {
  color: #1eab5f;
}

.wrapper {
  display: flex;
  z-index: 5;
  padding-top: 24px;
  gap: 40px;
}

.wrapperMobile {
  display: flex;
  flex-direction: column;
  z-index: 5;
  padding-top: 24px;
}
.catalogListWrapperMobile {
  max-width: 65vw;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}
.NavigationWrapper {
}

.searchInput {
  padding: 18px;
  width: 365px;
  height: 60px;
  background: #ffffff;
  border: 1px solid #1eab5f;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  color: #363130;
}

.NavigationButton {
  margin-top: 24px;
  justify-content: left;
  gap: 24px;
  width: 365px;
  height: 60px;
  border: 1px solid #1eab5f;
  border-radius: 5px;
  color: #000000;
}
.NavigationButton svg {
  width: 30px;
  height: 30px;
}
.NavigationButton image {
  width: 30px;
  height: 30px;
}

.active {
  color: #ffffff;
  background: #1eab5f;
}
.active svg {
  filter: brightness(0) invert(1);
}
.catalogListWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.catalogList {
  display: flex;
  flex-direction: row;
  width: 65vw;
  flex-wrap: wrap;
  gap: 40px;
}

.catalogItem {
  display: flex;
  flex-direction: column;
  width: 365px;
  height: 348px;
}
.catalogItem img {
  margin-top: 16px;
  width: 365px;
  height: 207px;
  object-fit: cover;
  border-radius: 3px;
}
.catalogItem h4 {
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #363130;
}

.price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  font-weight: 900;
  font-size: 20px;
  line-height: 24px;
  color: #1eab5f;
}

.ItemButton {
  display: flex;
  justify-content: center;

  width: 100%;
  height: 50px;
  border: 1px solid #130d0d;
  box-shadow: inset 4px 4px 25px rgba(241, 241, 241, 0.25);
  border-radius: 5px;
  color: #000000;
  margin-top: 16px;
}
.QuizWrapper {
  padding-top: 160px;
}
.QuizWrapper h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  text-transform: uppercase;
  color: #1eab5f;
}
.QuizWrapper h2 span {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  text-transform: none;
}

.wrapperMobile {
  display: flex;
  flex-direction: column;
  z-index: 5;
  padding-top: 24px;
}
@media (max-width: 992px) {
  .catalogList {
    display: flex;
    flex-direction: column;
    width: 65vw;
    flex-wrap: wrap;
    gap: 0;
    align-items: center;
  }
  .NavigationButton {
    height: 40px;
    width: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
  }
  .wrapper {
    display: none;
  }
  .catalog h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
  }
  .catalogItem h4 {
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 20px;
  }
  .price {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
  }
}

@media (min-width: 992px) {
  .wrapperMobile {
    display: none;
  }
}
