.wrapper {
  padding-top: 158px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 120px;
  z-index: 2;
}
.titleBlock {
  max-width: 846px;
}
.descWrapper {
  display: flex;
  gap: 40px;
}
.descTitle {
  font-size: 24px;
  line-height: 29px;
  color: #363130;
  margin-bottom: 40px;
  & span {
    font-weight: 900;
  }
}
.listTitle {
  margin-bottom: 16px;
}
.listItem {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
  & li {
    font-weight: 600;
  }
}
.descWrapperText {
  max-width: 500px;
}
.form {
  max-width: 500px;
  flex-grow: 1;
}
.imageHouse {
  position: absolute;
  width: 44%;
  right: -161px;
  top: -63px;
  z-index: 1;
}
.imageCloud {
  position: absolute;
  right: -160px;
  top: 315px;
  z-index: 2;
}
