@import "/src/styles/variables";

.meeting {
  padding-bottom: 80px;
}

.textContent {
  max-width: 663px;
  flex-grow: 1;
}
.wrapper {
  display: flex;
  gap: 37px;
  margin-bottom: 80px;
}
.title {
  font-size: 40px;
  line-height: 47px;
  background: linear-gradient(91.24deg, #1eab5f 0.36%, #e7b97e 103.9%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  margin-bottom: 16px;
}
.subtitle {
  font-size: 30px;
  line-height: 35px;
  opacity: 0.9;
  margin-bottom: 40px;
}

.video {
  border-radius: 5px;
}

.gifts {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.giftsBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.gift {
  display: flex;
  align-items: center;
  gap: 18px;
  max-width: 500px;
  flex-grow: 1;
  height: 118px;
  background: #ffffff;
  box-shadow: 1px 2px 12px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  padding: 24px 32px;
}
.desc {
  font-size: 16px;
  line-height: 19px;
}
.firstText {
  margin-bottom: 40px;
}
.secondText {
  margin-bottom: 24px;
}
.secondText span {
  font-weight: 700;
  color: #1eab5f;
}
.form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 1;
}
.titleForm {
  margin-bottom: 16px;
}
.wrapperExample {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 80px;
}
.titleBlock {
  font-size: 30px;
  line-height: 35px;
}
.mediaContent {
  display: flex;
  gap: 40px;
  align-items: center;
}
.mainPhoto {
  object-fit: cover;
  width: 770px;
  height: 577px;
}
.photoGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.photo {
  object-fit: cover;
  width: 230px;
  height: 173px;
}
.videoGroup {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.videoWrapper {
  width: 500px;
  height: 280px;
}
.text {
  display: flex;
  align-items: center;
  gap: 27px;
}
.textTitle {
  font-size: 26px;
  line-height: 30px;
  margin-bottom: 40px;
}
.descWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.description {
  display: flex;
  gap: 16px;
}
.meetingImg {
  width: 770px;
  height: 382px;
  object-fit: cover;
}
.actions {
  position: relative;
  display: flex;
  align-items: center;
  gap: 40px;
  padding-bottom: 53px;
  margin-bottom: 80px;
}
.actionsTitle {
  color: $active-green;
  max-width: 893px;
  margin-bottom: 0;
}
.btn {
  width: 100%;
  color: #f0fcf6;
  background: #1eab5f;
  border-radius: 5px;
  padding: 18.5px 0;
  justify-content: center;
}
.wrapperBtn {
  width: 49.4%;
}
.arrow {
  position: absolute;
  left: 50%;
  top: 80px;
  width: 494px;
}
.visual {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 60px;
}
.visualItems {
  display: flex;
  gap: 40px;
}
.item {
  padding: 24px 32px;
  background: #ffffff;
  box-shadow: 1px 2px 12px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  width: 100%;
}
.item h4 {
  font-weight: 900;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 16px;
}
.objWrapper {
  display: flex;
  flex-direction: column;
  gap: 60px;
  margin-bottom: 60px;
}

@media (max-width: 1600px) {
  .mediaContent {
    height: 500px;
  }
  .gifts {
    padding-top: 50px;
  }
  .gift {
    max-width: 370px;
  }
  .mainPhoto {
    width: 500px;
    height: 100%;
  }
  .photo {
    height: 100%;
    width: 196px;
  }
  .videoGroup {
    height: 100%;
  }
  .videoWrapper {
    width: 405px;
    height: 100%;
  }
  .meetingImg {
    width: 640px;
  }
  .actions {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

@media (max-width: 480px) {
  .firstText {
    margin-bottom: 8px;
  }
  .secondText {
    margin-bottom: 16px;
    font-size: 12px;
    line-height: 14px;
  }
  .giftsBlock {
    flex-wrap: wrap;
    gap: 24px;
  }
  .desc {
    font-size: 12px;
    line-height: 14px;
  }
  .gift img {
    width: 37px;
    height: 37px;
  }
  .gift {
    box-shadow: none;
    padding: 0;
    height: 100%;
  }
  .titleBlock {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    background: linear-gradient(91.24deg, #1eab5f 0.36%, #e7b97e 103.9%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
  .visual {
    gap: 24px;
    margin-bottom: 0;
  }
  .visualItems {
    flex-wrap: wrap;
    gap: 24px;
  }
  .item {
    box-shadow: none;
    padding: 0;
  }
  .item h4 {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 0;
  }
  .item p {
    font-size: 12px;
    line-height: 14px;
  }
  .objWrapper {
    gap: 40px;
    margin-bottom: 0;
  }
  .wrapperExample {
    margin-top: 0;
    gap: 24px;
  }
  .mediaContent {
    flex-wrap: wrap;
    gap: 24px;
  }
  .mainPhoto {
    object-fit: contain;
    max-width: 100%;
    height: 100%;
  }
  .photoGroup {
    width: 100%;
  }
  .photo {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }
  .videoGroup {
    width: 100%;
  }
  .videoWrapper {
    width: 100%;
    height: 161px;
  }
  .text {
    flex-wrap: wrap;
  }
  .textTitle {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 8px;
  }
  .description {
    font-size: 12px;
    line-height: 14px;
  }
  .descWrapper {
    gap: 8px;
  }
  .meetingImg {
    width: 100%;
    height: 100%;
  }
  .actions {
    display: none;
  }
  .meeting {
    padding-top: 0;
    padding-bottom: 0;
  }
  .visual {
    margin-bottom: 40px;
  }
}
