.navigation {
  display: flex;
  align-items: center;
  gap: 32px;
  margin-bottom: 56px;
}

.buttonBlock {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-bottom: 56px;
}

.quizWrapper {
  display: flex;
  flex-direction: row;
  gap: 80px;
}

.question {
  display: flex;
  width: 65vw;
  flex-direction: column;
}

.feature {
  width: 400px;
  padding: 14px 56px;
  background: #444343;
  box-shadow: 0 0 4px rgba(51, 51, 51, 0.5);
  border-radius: 5px;
  border: 0;
}

.buttons {
  display: flex;

}

.btn {
  width: 400px;
  min-width: 200px;
  height: 56px;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  margin: 10px 20px 10px 0;
}


.btn:hover {
  background: #1eab5f;
  color: #F0FCF6;
  border: 1px solid #1eab5f;

}
.btn:disabled {
  background: #D0D0D0;
  color: #000000;
  border: 1px solid #D0D0D0;
  cursor: auto;

}
.btnWrapper {

}



@media (max-width: 1200px) {
  .feature {
    display: none;
  }
  .buttons {
    flex-wrap: wrap;
  }
}

@media (max-width: 992px) {
  .quizWrapper {
    flex-direction: column-reverse;
  }
}