.title {
  font-weight: 900;
  font-size: 32px;
  line-height: 39px;
  color: #363130;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.about {
  display: flex;
  gap: 40px;
  margin-bottom: 80px;
}
.plan {
  width: 100%;
  object-fit: cover;
}
.buttonsBlock {
  display: flex;
  flex-direction: column;
}
.imageFloor {
  width: 500px;
  height: 374px;
  margin-bottom: 77px;
}
.btn {
  font-weight: 600;
  justify-content: center;
  width: 100%;
  background: #1eab5f;
}
.btnWrapper {
  margin-bottom: 16px;
  &:last-child {
    margin: 0;
  }
}
.btnTransparent {
  justify-content: center;
  width: 100%;
  color: #000000;
  background-color: transparent;
  border: 1px solid #130d0d;
  box-shadow: inset 4px 4px 25px rgba(241, 241, 241, 0.25);
  margin-top: 77px;
}
.description {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 120px;
}
.buttonBlock {
  display: flex;
  gap: 40px;
  margin-bottom: 32px;
}
.buttonAction {
  font-weight: 500;
  color: #000000;
  width: 100%;
  height: 64px;
  justify-content: center;
  border: 1px solid #319f1c;
  border-radius: 0 0 6px 6px;
  &:active {
    color: #ffffff;
    background: #1eab5f;
  }
}
.textBlock {
  display: flex;
  padding: 40px;
  gap: 40px;
  background: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
}
.text {
  max-width: 730px;
  margin-bottom: 14px;
  &:last-child {
    margin-bottom: 0;
  }
}
.titleSocials {
  font-weight: 600;
  margin-bottom: 32px;
}
.socialsWrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: end;
  justify-content: space-between;
}
.link {
  text-align: center;
  color: #000000;
}
.icon {
  margin-bottom: 7px;
}
.img {
  width: 100%;
  height: 100%;

}

.images {
  width: 500px;
  height: 374px;
  cursor: pointer;
}

.gallery {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

.wrap {
  display: flex;
  justify-content: center;
}
.buttn {
  padding-top: 16px;
}