
.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 7px;
    width: fit-content;
    list-style-type: unset;
    padding: 20px 10px;
    border-radius: 5px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.pagination-item {
    height: 46px;
    width: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}

.pagination-item:hover {
    cursor: pointer;
    background-color: #e1e4e7;
    -webkit-transition: background-color .1s linear;
    -moz-transition: background-color .1s linear;
    -o-transition: background-color .1s linear;
    transition: background-color .1s linear;
}

.pagination-item-active {
    color: white;
    border: 1px solid #FFFFFF;
    pointer-events: none;
    -webkit-transition: background-color .1s linear;
    -moz-transition: background-color .1s linear;
    -o-transition: background-color .1s linear;
    transition: background-color .1s linear;
}

.pagination-item-active:hover {
    background-color: #0a7ea3;
}