@import "./src/styles/variables";

.normal {
  padding: 11px 17px;
  border: 1px solid #FDDF31;
  color: #000000;
  border-radius: 100%;
  font-size: 20px;
  line-height: 24px;
}
.active {
  background-color: #FDDF31;
  color: #000000;
}
.passed {
  background-color: #E7B97E;
  border: 1px solid #E7B97E ;
  color: #000000;
  cursor: pointer;

}

