.wrapper {
  display: flex;
  position: absolute;
  top: 23px;
  left: 72px;
  padding: 147px 52px 37px;
  background-color: #f0f3f2;
  z-index: 1;
}
.inner {
  max-height: 1031px;
  position: sticky;
}
.nav {
  margin-bottom: 52px;
}
.leftWrapper {
  display: flex;
  flex-direction: column;
  max-width: 538px;
}
.closeIcon {
  position: absolute;
  right: 60px;
  top: 35px;
  cursor: pointer;
}

@media (max-width: 480px) {
  .wrapper {
    padding: 80px 30px 30px;
    left: 0;
    top: 0;
    width: 100%;
  }
  .closeIcon {
    right: 20px;
    top: 20px;
  }
}
